GMO_API_KEY=<your_api_key>
GMO_SECRET_KEY=<your_secret_key>
# ORDER_SIZE_LIMIT=100 # Optional: Set order size limit
# ORDER_SYMBOL_LIMITS=USD_JPY,EUR_JPY # Optional: Set allowed symbols for order API
